@font-face {
    font-family: 'Aller Light';
    src: url('fonts/Aller_Lt.ttf');
}

.container {
    padding-bottom: 1em;
}

header {
    box-shadow: 1px 1px 8px #bbb;
}

header h1 {
    margin: 0;
}

body {
    font-family: 'Aller Light';
}

article {
    padding: 0 5% 0 7%;
    max-width: 700px;
    margin: 0 auto;
}

h2, h3 {
    line-height: 1.25;
    margin: 1.5rem 0 1rem 0;
}

h2 {
    padding-bottom: 0.3em;
    font-size:  1.5em;
}

h3 {
    font-size: 1.25em;
}

li+li {
    margin-top: 0.25em;
}

p, li {
    line-height: 1.5;
}

.header-content {
    padding: 10% 5% 1% 7%;
    max-width: 700px;
    margin: 0 auto;
}


.color-switch {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    width: 2.8em;
}

.color-switch-input {
    display: none;
}

.color-switch label {
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
}

.color-switch-light {
    background: white;
}

.color-switch-dark {
    background: #08202f;
}

.color-switch-input-light:checked ~ .container  {
    background: white;
    color: #25292b;
}

.color-switch-input-dark:checked ~ .container {
    background: #0e1113;
    color: #dce4e8;
}

.color-switch-input-dark:checked ~ .container header {
    box-shadow: 1px 1px 8px #555;
}

.color-switch-input-dark:checked ~ .container a:link,
.color-switch-input-dark:checked ~ .container a:visited {
    color: #dce4e8;
}

.color-switch-input-light:checked ~ .container h2 {
    border-bottom: 1px solid #eee;
}

.color-switch-input-dark:checked ~ .container h2 {
    border-bottom: 1px solid #223;
}

.github-icon-link {
    font-size: 1.3em;
    vertical-align: middle;
    margin-left: 0.1em;
    line-height: 0;
}

.color-switch-input-light:checked ~ .container .github-icon-link {
    color: #25292b;
}

.container {
    transition-property: background, color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.profile-name {
    vertical-align: middle;
    font-size: 1.3em;
    padding: 0.4em;
}

.profile-image {
    height: 3em;
    width: 3em;
}
